<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer list</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<center><h3>Book Table View</h3></center>


    
  <!--  <table class="table">

				<tbody>
					<tr>
					<tr th:each="book : ${book}">
						<td><input type="Button" type="submit" name="flightId" value="${book.book_id}"/></td>
						<td th:text="${book.book_id}"></td>
						<td th:text="${book.booktitle}"></td>
							<td th:text="${book.isbn}"></td>
						
						
					</tr>
				</tbody>
				
			</table>-->
    

   
</body>
</html>